/* BYU Template Stylesheet
* Last Updated: 22 Sep 2011
* Written by: BYU Web Community
* web.byu.edu
* Based on HTML5 Boilerplate (http://html5boilerplate.com)
*/
/* Mixins */
/*** Header, logo, MyBYU ***/
/*** Nav ***/
/*** Footer ***/
/*** Content ***/
/*** Footer ***/
/* Normalize CSS */
/* line 3, ../css-sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* line 4, ../css-sass/_normalize.scss */
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 5, ../css-sass/_normalize.scss */
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 6, ../css-sass/_normalize.scss */
body { margin: 0; padding: 0; }

/* line 7, ../css-sass/_normalize.scss */
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* line 8, ../css-sass/_normalize.scss */
::-moz-selection { background: #336699; color: #fff; text-shadow: none; }

/* line 9, ../css-sass/_normalize.scss */
::selection { background: #336699; color: #fff; text-shadow: none; }

/* line 10, ../css-sass/_normalize.scss */
a { color: #00e; }

/* line 11, ../css-sass/_normalize.scss */
a:visited { color: #551a8b; }

/* line 12, ../css-sass/_normalize.scss */
a:focus { outline: thin dotted; }

/* line 13, ../css-sass/_normalize.scss */
a:hover, a:active { outline: 0; }

/* line 14, ../css-sass/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 15, ../css-sass/_normalize.scss */
b, strong { font-weight: bold; }

/* line 16, ../css-sass/_normalize.scss */
blockquote { margin: 1em 5%; }

/* line 17, ../css-sass/_normalize.scss */
dfn { font-style: italic; }

/* line 18, ../css-sass/_normalize.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* line 19, ../css-sass/_normalize.scss */
ins { background: #ff9; color: #000; text-decoration: none; }

/* line 20, ../css-sass/_normalize.scss */
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* line 21, ../css-sass/_normalize.scss */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* line 22, ../css-sass/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 23, ../css-sass/_normalize.scss */
q { quotes: none; }

/* line 24, ../css-sass/_normalize.scss */
q:before, q:after { content: ""; content: none; }

/* line 25, ../css-sass/_normalize.scss */
small { font-size: 85%; }

/* line 26, ../css-sass/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 27, ../css-sass/_normalize.scss */
sup { top: -0.5em; }

/* line 28, ../css-sass/_normalize.scss */
sub { bottom: -0.25em; }

/* line 29, ../css-sass/_normalize.scss */
ul, ol { margin: 1em 0; padding: 0 0 0 5%; }

/* line 30, ../css-sass/_normalize.scss */
dd { margin: 0 0 0 5%; }

/* line 31, ../css-sass/_normalize.scss */
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

/* line 32, ../css-sass/_normalize.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 33, ../css-sass/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 34, ../css-sass/_normalize.scss */
figure { margin: 0; }

/* line 35, ../css-sass/_normalize.scss */
form { margin: 0; }

/* line 36, ../css-sass/_normalize.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 37, ../css-sass/_normalize.scss */
legend { border: 0; *margin-left: -4%; padding: 0; }

/* line 38, ../css-sass/_normalize.scss */
label { cursor: pointer; }

/* line 39, ../css-sass/_normalize.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 40, ../css-sass/_normalize.scss */
button, input { line-height: normal; *overflow: visible; }

/* line 41, ../css-sass/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* line 42, ../css-sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

/* line 43, ../css-sass/_normalize.scss */
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 44, ../css-sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 45, ../css-sass/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 47, ../css-sass/_normalize.scss */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* line 48, ../css-sass/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* Basic styles only - For old browsers and devices that can't do media queries or js */
/*** Type ***/
/* line 13, ../css-sass/_type.scss */
body, button, input, select, textarea { color: #444; font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; font-size: 0.938em; line-height: 1.333; -webkit-text-size-adjust: 100%; }

/* line 20, ../css-sass/_type.scss */
body { width: 100%; }

/* Type */
/* line 24, ../css-sass/_type.scss */
h2 { font-size: 1.5em; line-height: 30px; margin: 15px 0 9px; color: #036; }

/* line 25, ../css-sass/_type.scss */
h3 { font-size: 1.0714em; }

/* line 26, ../css-sass/_type.scss */
h4 { font-weight: bold; font-size: 1em; }

/* line 27, ../css-sass/_type.scss */
h5 { font: 1em "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif; }

/* line 28, ../css-sass/_type.scss */
h6 { font: italic 1em "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif; }

/* line 29, ../css-sass/_type.scss */
h2, h3, h4, h5, h6 { color: #444; }

/* line 30, ../css-sass/_type.scss */
h3, h4, h5, h6 { margin: 10px 0; line-height: 20px; }

/* line 31, ../css-sass/_type.scss */
h1 + h2, h3 + h4, h4 + h5, h5 + h6 { margin-top: -10px; }

/* line 33, ../css-sass/_type.scss */
p { margin: 10px 0; }

/* line 36, ../css-sass/_type.scss */
.wf-active strong { font-weight: 600; }

/* line 7, ../css-sass/_basics.scss */
body em { font-style: italic; }

/* line 8, ../css-sass/_basics.scss */
body strong { font-weight: bold; }

/* line 9, ../css-sass/_basics.scss */
body, select, input, textarea { color: #444; }

/* line 10, ../css-sass/_basics.scss */
p a { text-decoration: underline; }

/* line 11, ../css-sass/_basics.scss */
p { margin: 9px 0; }

/* Blockquotes */
/* line 13, ../css-sass/_basics.scss */
blockquote { font-style: italic; margin: 1.5em 10px; padding: .5em 10px; background-color: #f4f4f4; border: 1px solid #dedede; box-shadow: 2px 3px 5px 0 #dedede; -moz-box-shadow: 2px 3px 5px 0 #dedede; -webkit-box-shadow: 2px 3px 5px 0 #dedede; color: #333; margin: 25px 20px 25px 0; padding: 3px 25px; }

/* line 14, ../css-sass/_basics.scss */
blockquote:before { color: #bbb; content: "\201C"; font-size: 3em; line-height: .1em; margin-right: .2em; vertical-align: -0.4em; }

/* line 15, ../css-sass/_basics.scss */
blockquote:after { color: #bbb; content: "\201D"; font-size: 3em; line-height: .1em; vertical-align: -0.45em; }

/* line 16, ../css-sass/_basics.scss */
blockquote :first-child { display: inline; }

/* Links */
/* line 19, ../css-sass/_basics.scss */
a, a:link { color: #336699; text-decoration: none; }

/* line 20, ../css-sass/_basics.scss */
a:hover { color: #002255; text-decoration: underline; }

/* line 21, ../css-sass/_basics.scss */
a:active { color: #c00; }

/* line 22, ../css-sass/_basics.scss */
a:visited { color: #539; }

/* Images */
/* line 25, ../css-sass/_basics.scss */
img { max-width: 100%; }

/* Tables */
/* line 28, ../css-sass/_basics.scss */
table { border-collapse: collapse; border-spacing: 0; margin: 0 0 9px; }

/* line 29, ../css-sass/_basics.scss */
table, td, th { border: 1px solid #ddd; }

/* line 30, ../css-sass/_basics.scss */
td, th { padding: .125em .5em; text-align: left; vertical-align: top; }

/* line 31, ../css-sass/_basics.scss */
td { border-left: 1px dotted #eee; border-right: 1px dotted #eee; }

/* line 32, ../css-sass/_basics.scss */
th { background: #f9f9f9; border-right: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; }

/* line 33, ../css-sass/_basics.scss */
table caption { color: #888; text-align: left; margin: .15em .25em; font-style: italic; }

/* line 34, ../css-sass/_basics.scss */
tfoot { font-weight: bold; }
/* line 35, ../css-sass/_basics.scss */
tfoot td { color: #666; border-top-color: #666; }

/* line 36, ../css-sass/_basics.scss */
td, td img { vertical-align: top; }

/* Lists */
/* line 39, ../css-sass/_basics.scss */
ul, ol { margin-left: 1.5em; }

/* line 40, ../css-sass/_basics.scss */
ol { list-style-type: decimal; margin-left: 2em; }
/* line 41, ../css-sass/_basics.scss */
ol ol { list-style-type: lower-alpha; }
/* line 42, ../css-sass/_basics.scss */
ol ol ol { list-style-type: lower-roman; }
/* line 43, ../css-sass/_basics.scss */
ol ol ol ol { list-style-type: decimal; }
/* line 44, ../css-sass/_basics.scss */
ol ol ol ol ol { list-style-type: lower-alpha; }
/* line 45, ../css-sass/_basics.scss */
ol ol ol ol ol ol { list-style-type: lower-roman; }

/* line 46, ../css-sass/_basics.scss */
ul { list-style-type: disc; margin-left: 2em; }
/* line 47, ../css-sass/_basics.scss */
ul ul { list-style-type: circle; }
/* line 48, ../css-sass/_basics.scss */
ul ul ul { list-style-type: disc; }
/* line 49, ../css-sass/_basics.scss */
ul ul ul ul { list-style-type: circle; }
/* line 50, ../css-sass/_basics.scss */
ul ul ul ul ul { list-style-type: disc; }
/* line 51, ../css-sass/_basics.scss */
ul ul ul ul ul ul { list-style-type: circle; }

/* line 52, ../css-sass/_basics.scss */
ul ul { margin-top: .25em; margin-bottom: .25em; }

/* line 53, ../css-sass/_basics.scss */
nav ul, nav ul ul { list-style: none; }

/* line 54, ../css-sass/_basics.scss */
nav ul, nav li { margin: 0; }

/* line 55, ../css-sass/_basics.scss */
dt { font-weight: bold; }

/* line 56, ../css-sass/_basics.scss */
dd { padding: 0 0 .75em 1em; }

/* line 9, ../css-sass/_header.scss */
#main-header { min-width: 180px; position: relative; background-color: #001948; height: 81px; }

/* line 15, ../css-sass/_header.scss */
#header-top { position: relative; z-index: 101; }

/* line 19, ../css-sass/_header.scss */
#logo { padding: .35em 5%; height: 2em; padding-left: 5%; border-bottom: 1px solid #114477; background-color: #003366; }
/* line 25, ../css-sass/_header.scss */
.svg #logo { background: transparent url("../img/bg.svg") top left no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
/* line 28, ../css-sass/_header.scss */
#logo h1 { margin: 0; margin-left: -7px; text-indent: -999em; overflow: hidden; background: transparent url("../img/logo-sm.png") 0px 0px no-repeat; }
/* line 34, ../css-sass/_header.scss */
.svg #logo h1 { background-image: url("../img/logo-sm.svg"); }
/* line 36, ../css-sass/_header.scss */
#logo a { display: block; margin-right: 50%; }

/* line 40, ../css-sass/_header.scss */
a.mybyu, .open #search-button { position: relative; float: right; margin-right: 5%; margin-top: .4em; right: -0.35em; background-color: #628cb6; color: #fff; padding: .35em 1.5em; text-decoration: none; font-weight: bold; border-radius: 1em; border: none; }
/* line 53, ../css-sass/_header.scss */
a.mybyu:hover, .open #search-button:hover { cursor: pointer; }

/* line 56, ../css-sass/_header.scss */
#search-container { width: 2.5em; height: 2.5em; position: absolute; right: 5%; top: 0; z-index: 500; }
/* line 63, ../css-sass/_header.scss */
#search-container .search { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; line-height: 2.5em; background: transparent url("../img/search.png") 0.45em center no-repeat; }
/* line 67, ../css-sass/_header.scss */
.svg #search-container .search { background-image: url("../img/search-lg.svg"); }

/* line 70, ../css-sass/_header.scss */
#searchForm { clear: left; padding: 0; border-top: 1px solid transparent; margin-top: 1em; margin: 1em 5% 4em; }
/* line 76, ../css-sass/_header.scss */
#searchForm #q { font-size: 1.25em; padding: .5em 1em; }

/* line 80, ../css-sass/_header.scss */
#search-button { padding: .35em 1.5em; margin: .25em 0; background-color: #336699; color: #fff; border: 1px solid #628cb6; }

/* line 9, ../css-sass/_nav.scss */
#primary-nav, #secondary-nav { display: none; }

/* line 13, ../css-sass/_nav.scss */
#content #primary-nav, #content #secondary-nav { display: block; }
/* line 15, ../css-sass/_nav.scss */
#content li.featured, #content hr, #content div.highlight { display: none; }

/* line 18, ../css-sass/_nav.scss */
#primary-nav-menu { position: absolute; margin: 0; padding: 0 5%; }
/* line 22, ../css-sass/_nav.scss */
#primary-nav-menu a { border-radius: 3px 3px 0 0; display: inline-block; color: #cccccc; padding: .6em 1.4em .7em; margin-left: -1em; font-weight: bold; text-decoration: none; }
/* line 30, ../css-sass/_nav.scss */
#primary-nav-menu a:hover { color: #fff; }
/* line 32, ../css-sass/_nav.scss */
#primary-nav-menu a.open { text-decoration: none; background-color: #fff; color: #001948; }

/* line 37, ../css-sass/_nav.scss */
.click-off { width: 1px; height: 1px; position: absolute; top: -1px; left: -1px; }

/* line 10, ../css-sass/_slider.scss */
.no-flexslider div.flexslider { padding-bottom: 0; margin-bottom: 0; }
/* line 13, ../css-sass/_slider.scss */
.no-flexslider div.flexslider .slides > li { display: block; }

/* line 16, ../css-sass/_slider.scss */
.flexslider { border-top: none; padding-bottom: 1em; padding-top: 1em; }
/* line 21, ../css-sass/_slider.scss */
.flexslider li > a { display: block; margin: 0; }
/* line 24, ../css-sass/_slider.scss */
.flexslider a.more { display: block; }
/* line 26, ../css-sass/_slider.scss */
.flexslider .slides li { width: 100%; overflow: hidden; }
/* line 29, ../css-sass/_slider.scss */
.flexslider .slides li a.wide { overflow: hidden; }
/* line 31, ../css-sass/_slider.scss */
.flexslider .slides li a.wide img { width: 134.477825%; max-width: 999em; }

/* line 35, ../css-sass/_slider.scss */
.flex-control-nav, .flex-control-nav img { display: none; }

/* line 38, ../css-sass/_slider.scss */
.flexslider { list-style: none; padding: 0; margin: 0; }

/* line 43, ../css-sass/_slider.scss */
.no-js .feature-description { background-color: transparent; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; position: relative; top: 0; left: 0; width: auto; padding: 0; margin: 0; height: auto; }
/* line 53, ../css-sass/_slider.scss */
.no-js .feature-description h2 { font-size: 1.5em; font-weight: bold; }

/* Main Content */
/* line 10, ../css-sass/_content.scss */
#content { padding: 0; min-width: 162px; }

/* Calendar */
/* line 17, ../css-sass/_content.scss */
#calendar h2 { margin-bottom: 0; }

/* line 20, ../css-sass/_content.scss */
.day a, .day span { display: block; }
/* line 22, ../css-sass/_content.scss */
.day span.date { margin-right: .33em; display: inline; font-weight: normal; }

/* line 27, ../css-sass/_content.scss */
#calendars { margin: 0; padding: .5em 0 0; }

/* line 31, ../css-sass/_content.scss */
#calendar, #news { border-top: 4px solid #f7f7f7; margin-top: 1px; padding-bottom: 1em; }

/* line 35, ../css-sass/_content.scss */
#calendar, #news, #feature { border-bottom: 1px solid #ccc; }

/* line 37, ../css-sass/_content.scss */
#calendar, #news, #footer-links, #footer-bottom, #feature, .flex-container { padding-left: 5%; padding-right: 5%; }

/* line 40, ../css-sass/_content.scss */
ul#calendars { list-style: none; }

/* line 41, ../css-sass/_content.scss */
.day { padding: .75em 0 0; }

/* line 42, ../css-sass/_content.scss */
a.baseline, #calendar > strong, a.more { font-weight: bold; margin-top: 1.5em; padding-bottom: 1.5em; display: block; }

/* News */
/* line 46, ../css-sass/_content.scss */
.news-item { padding: .25em 0 0; }

/* line 47, ../css-sass/_content.scss */
.briefs-item { padding: .1em 0 0; }

/* line 48, ../css-sass/_content.scss */
#briefs-container { border-bottom: 1px solid #eee; padding-bottom: .75em; margin-bottom: .5em; }

/* line 10, ../css-sass/_footer.scss */
footer { background-color: #eeebe9; border-top: 1px solid #fff; border-bottom: 2px solid transparent; }
/* line 14, ../css-sass/_footer.scss */
footer a, footer a:link, footer a:visited { color: #807b73; display: block; padding: .35em 1%; font-size: .95em; }
/* line 19, ../css-sass/_footer.scss */
footer a:hover, footer a:active, footer a:focus { color: #66625c; }
/* line 21, ../css-sass/_footer.scss */
footer h2 { color: #66625c; margin-top: 1.5em; font-size: 1em; border-bottom: 1px solid #cccac6; }
/* line 26, ../css-sass/_footer.scss */
footer h3 { font-weight: normal; color: #66625c; font-size: .95em; margin: 1em 0 0; }
/* line 31, ../css-sass/_footer.scss */
footer p { color: #807b73; font-size: .95em; }

/* line 35, ../css-sass/_footer.scss */
#footer-links { border-bottom: 1px solid #ccc; padding-bottom: 1.5em; }
/* line 38, ../css-sass/_footer.scss */
#footer-links div.alpha { margin-top: 0; border-top: none; }
/* line 40, ../css-sass/_footer.scss */
#footer-links .addthis_default_style a { clear: left; padding: 0; }
/* line 42, ../css-sass/_footer.scss */
#footer-links .addthis_toolbox a { padding-left: 0; }
/* line 44, ../css-sass/_footer.scss */
#footer-links .addthis_toolbox a span { padding-right: 10px; margin: 0; }

/* line 48, ../css-sass/_footer.scss */
#footer-bottom { background-color: #e5e2df; border-top: 1px solid #fff; padding-top: .5em; padding-bottom: 1em; }

/* Nav Page */
/* line 40, ../css-sass/mobile.scss */
body.menu { background-color: #abc8e4; }
/* line 42, ../css-sass/mobile.scss */
body.menu nav { margin: 0; }
/* line 44, ../css-sass/mobile.scss */
body.menu nav li { border-top: 1px solid #fff; border-bottom: 1px solid #d1e4f6; }
/* line 47, ../css-sass/mobile.scss */
body.menu nav li a { display: block; padding: .5em 1em .5em 8%; background-color: #e0edf9; font-weight: bold; }
/* line 52, ../css-sass/mobile.scss */
body.menu nav li a:visited { color: #336699; }
/* line 54, ../css-sass/mobile.scss */
body.menu nav li a:hover { background-color: #fff; }
/* line 57, ../css-sass/mobile.scss */
body.menu #secondary-nav li a { background-color: #eff6fc; }
/* line 59, ../css-sass/mobile.scss */
body.menu #secondary-nav li a:hover { background-color: #fff; }

/* line 63, ../css-sass/mobile.scss */
body.nav footer { margin-top: 2em; }
/* line 66, ../css-sass/mobile.scss */
body.nav li a, body.nav li a:link, body.nav li a:visited, body.nav li a:hover, body.nav li a:active, body.nav li a:focus { border-top: 1px solid #114477; color: #002255; background-color: #eff6fc; font-size: 1.15em; border-bottom: 1px solid #d1e4f6; display: block; padding: .75em 7% .5em; text-decoration: none; }
/* line 75, ../css-sass/mobile.scss */
body.nav li div { background: #fff; }
/* line 77, ../css-sass/mobile.scss */
body.nav li div.mega, body.nav li div.sub { padding: 1em 0; }
/* line 80, ../css-sass/mobile.scss */
body.nav li div li.featured a, body.nav li div li.featured a:link { font-weight: bold; }
/* line 82, ../css-sass/mobile.scss */
body.nav li div .highlight { border-top: 1px solid #ddd; padding: 1em 0 .5em; margin-top: 2em; }
/* line 86, ../css-sass/mobile.scss */
body.nav li div .highlight br { display: none; }
/* line 88, ../css-sass/mobile.scss */
body.nav li div .highlight p { padding: 0 9%; }
/* line 90, ../css-sass/mobile.scss */
body.nav li div a, body.nav li div a:link, body.nav li div a:focus, body.nav li div a:visited, body.nav li div a:active { border-top: none; background-color: #fff; font-weight: normal; font-size: 1em; color: #336699; border-bottom: none; padding: .5em 9%; }
/* line 98, ../css-sass/mobile.scss */
body.nav li div a:hover { color: #002255; text-decoration: underline; }

/* The end */
/* line 104, ../css-sass/mobile.scss */
.alpha { margin-left: 0 !important; }

/* line 105, ../css-sass/mobile.scss */
.omega { margin-right: 0 !important; }

/* image replacement */
/* line 107, ../css-sass/mobile.scss */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* line 108, ../css-sass/mobile.scss */
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
	css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 111, ../css-sass/mobile.scss */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
	www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 114, ../css-sass/mobile.scss */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 116, ../css-sass/mobile.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* line 118, ../css-sass/mobile.scss */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 120, ../css-sass/mobile.scss */
.clearfix:before, .clearfix:after { content: ""; display: table; }

/* line 121, ../css-sass/mobile.scss */
.clearfix:after { clear: both; }

/* line 122, ../css-sass/mobile.scss */
.clearfix { zoom: 1; }

/* Print styles */
@media print { /* line 127, ../css-sass/mobile.scss */
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 128, ../css-sass/mobile.scss */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  /* line 129, ../css-sass/mobile.scss */
  a[href]:after { content: " (" attr(href) ")"; }
  /* line 130, ../css-sass/mobile.scss */
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* line 131, ../css-sass/mobile.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  /* line 132, ../css-sass/mobile.scss */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* line 133, ../css-sass/mobile.scss */
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 134, ../css-sass/mobile.scss */
  tr, img { page-break-inside: avoid; }
  /* line 135, ../css-sass/mobile.scss */
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  /* line 137, ../css-sass/mobile.scss */
  p, h2, h3 { orphans: 3; widows: 3; }
  /* line 138, ../css-sass/mobile.scss */
  h2, h3 { page-break-after: avoid; } }
