/*** Content ***/



// Mobile

@mixin content-mobile() {

/* Main Content */
#content {
  padding:0;
  min-width:162px; }

  
/* Calendar */
#calendar {
  h2 {
    margin-bottom:0; } }
.day {
  a, span {
    display:block; }
  span.date {
    margin-right:.33em; 
    display: inline; 
    font-weight:normal; } }

#calendars {
  margin:0;
  padding:.5em 0 0; }

#calendar, #news {
  border-top:4px solid #f7f7f7;
  margin-top:1px;
  padding-bottom:1em; }
#calendar, #news, #feature {
  border-bottom:1px solid #ccc; }
#calendar, #news, #footer-links, #footer-bottom, #feature, .flex-container {
  padding-left:5%;
  padding-right:5%; }
ul#calendars{list-style: none}
.day {padding:.75em 0 0}
a.baseline, #calendar > strong, a.more {font-weight: bold; margin-top:1.5em; padding-bottom:1.5em; display: block;}


/* News */
.news-item {padding:.25em 0 0}
.briefs-item {padding:.1em 0 0}
#briefs-container {border-bottom:1px solid #eee; padding-bottom:.75em; margin-bottom:.5em;}


}






// Media queries enabled

@mixin content-1() {

}






// 300 px

@mixin content-300() {

#calendar, #news {
  padding-top:1.5em;
  padding-bottom:2em;
  h2 {
    margin:0 0 .5em; } }


#calendars {
  margin:1.5em 0;
  padding:.75em 0;
  clear: both;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  overflow: hidden; }

.day {
  overflow: hidden;
  margin:0 0 .25em;
  span.date {
    font-size:1.5em;
    .wf-active #calendar & {
      margin-right: .2em;
      font-size: 2em;
      font-family: 'Crete Round', sans-serif;
      font-weight: normal; } } 
  h3 {
    font-size: 1em;
    clear: both;
    margin-top: 0; }
  a {
    width:73%;
    float: left;
    margin-bottom: .5em;
    padding-left: 1%;
    text-indent: -.5%; }
  .time {
    width:24%;
    float: right;
    clear: right;
    color: #888;
    margin-bottom:0 !important; } }
    


.briefs-item {
  @include micro-clearfix();
  padding:0;
  margin:0 0 .75em;
  img {
     }
  > a {
    padding:0 5% 0 0;
    width:35%;
    float: left;
    clear: both; }
  h3 {
    border-top: 1px solid #eee;
    padding-top:.1em; 
    margin: 0;
    font-size: .9em;
    width: 60%;
    float:right;
    a {
      float:none; } } }

.news-item {
  padding: 1em 0;
  border-bottom:1px solid #eee; }

     
}








// 450 px

@mixin content-450() {

#calendar, #news {
  padding-left: 10%;
  padding-right:10%;
  width: 80% }

.day {
  a {
    width:76%; }
  .time {
    width:21%; } }

.briefs-item {
  h3 { 
    padding-top: .5em;
    font-size: 1em; } }

}







// 600 px

@mixin content-600() {

a.events-m {
  .date, .day { 
    display: none; } }

#calendar, #news {
  padding-left:5%;
  padding-right:0;
  width:42.5%;
  float:left;
  border-top:none;
  border-bottom:none;
  h2 {
    font-size: 1.5em;
    border-bottom:1px solid #ddd;
    margin-bottom:18px; } } 

.day {
  font-size: .9em;
  clear:both;
  padding-top:0;
  margin-bottom:.75em;
  overflow:hidden;
  h3 {
    margin-top:0; }
  .date {
    font-size:1.5em; }
  a {
    width:70%; }
  .time {
    width:27%; } }

#calendars {
  clear:both; }

#news {
  padding-right:0; }
  

.briefs-item {
  padding-top: .5em;
  h3 {
    border-top: none;
    font-size: .9em;
    padding: 0;
    margin: 0; } }


}








// 700 px

@mixin content-700() {

.day {
  a {
    width:73%; }
  .time {
    width:24%; } }

}









// 800 px

@mixin content-800() {

.briefs-item h3 {
  font-size: 1em; }
}






// 1000 px

@mixin content-1000() {


#calendar, #news {
  padding-left:0;
  position: relative;
  left:50%; }

#calendar {
  width:312px;
  margin-left:-470px; }
.day { 
  a {
    width:75%; }
  .time {
    width:21%;
    font-size: .9em;
    padding-top: .25em; } }
  
#news {
  width:572px;
  margin-left:-102px;
  .omega {
    margin-right: 0; } }
#briefs-container { 
  border-bottom:none; }
.briefs-item {
  width:30.6666%;
  float:left;
  margin-right:4%;
  > a {
    width: auto;
    float: none; }
  h3 {
    font-size: .9em;
    padding-top: .5em;
    float:none;
    width: auto;
    a {
      width: auto; } } }
#news-container {
  clear:both; }
.news-item {
  width:48%;
  float:left;
  margin-right:4%;
  border-bottom: none; }
.baseline, #calendar > strong {
  border-top: 1px solid $grayD;
  padding-top: 1em;
  clear:both; }
#calendars {
  border-bottom: none;
  padding-bottom: 0; }
}




// 1040 px

@mixin content-1040() {

body {
  background: #fff url('../img/body-bg.svg') top center no-repeat;
  @include background-size(4000px 1000px); }

#content {
  background-color: #fff;
  width: 1078px;
  @include micro-clearfix();
  @include box-shadow(0 0 40px rgba(0,0,0, .25)); }

}



// 1300 px

@mixin content-1300() {

#calendar, #news {
  width:520px;
  left:0px;
  margin-left:69px; }

#content {
  width:1247px; }
#calendar {
  @include micro-clearfix(); }
.day {
  width:48%;
  float:left;
  clear: none;
  a {
    width:72%; }
  .time {
    width:25%; }
  &:last-child {
    float:right; } }

}



// 1560 px

@mixin content-1400() {



}


