// Icons for all of the links
 a.admission:before {background-position: 0px -50px }
    a.alumni:before {background-position: 0px -100px }
     a.apply:before {background-position: 0px -150px }
 a.athletics:before {background-position: 0px -200px }
a.activities:before {background-position: 0px -250px }
  a.benefits:before {background-position: 0px -300px }
a.blackboard:before {background-position: 0px -350px }
     a.books:before {background-position: 0px -400px }
 a.bookstore:before {background-position: 0px -450px }

  a.calendar:before {background-position: -50px  0px }
   a.catalog:before {background-position: -50px -50px  }
 a.checklist:before {background-position: -50px -100px }
    a.church:before {background-position: -50px -150px }
  a.colleges:before {background-position: -50px -200px }
     a.coned:before {background-position: -50px -250px }
a.conference:before {background-position: -50px -300px }
      a.cost:before {background-position: -50px -350px }
    a.career:before {background-position: -50px -400px }
       a.ctl:before {background-position: -50px -450px }

a.departments:before {background-position: -100px  0px }
     a.dining:before {background-position: -100px -50px  }
  a.directory:before {background-position: -100px -100px }
  a.financial:before {background-position: -100px -150px }
     a.giving:before {background-position: -100px -200px }
  a.gradebook:before {background-position: -100px -250px }
   a.graduate:before {background-position: -100px -300px }
    a.housing:before {background-position: -100px -350px }
a.information:before {background-position: -100px -400px }
       a.jobs:before {background-position: -100px -450px }

    a.library:before {background-position: -150px  0px }
        a.pay:before {background-position: -150px -50px  }
    a.profile:before {background-position: -150px -100px }
    a.ratings:before {background-position: -150px -150px }
   a.register:before {background-position: -150px -200px }
       a.roll:before {background-position: -150px -250px }
   a.schedule:before {background-position: -150px -300px }
a.scholarship:before {background-position: -150px -350px }
   a.syllabus:before {background-position: -150px -400px }
    a.testing:before {background-position: -150px -450px }

a.transcript:before {background-position: -200px  0px }
  a.transfer:before {background-position: -200px -50px }
   a.website:before {background-position: -200px -100px }
    a.y-time:before {background-position: -200px -150px }
        a.ls:before {background-position: -200px -200px }

   a.events-m:before {background-position: -275px 0px }
       a.ls-m:before {background-position: -275px -75px  }
a.directory-m:before {background-position: -275px -150px }
      a.map-m:before {background-position: -275px -225px }
 a.schedule-m:before {background-position: -275px -300px }
     a.news-m:before {background-position: -275px -375px }
   a.sports-m:before {background-position: -200px -375px }
  a.library-m:before {background-position: -200px -300px }
  

// Style the current date in the events icon
a.events-m {
  .date, .day {
     position: absolute;
     font-size: 11px;
     top:-6px;
     width:100%;
     left:50%;
     margin-left:-50%;
     color:$blue7; }
   .date {
     color:#888;
     top:17px;
     font-size: 30px; } }     
