/*** Nav ***/



// Mobile

@mixin nav-mobile() {

#primary-nav, #secondary-nav {
 display:none; }
 
#content {
  #primary-nav, #secondary-nav {
    display:block; }
  li.featured, hr, div.highlight {
      display: none; } }

#primary-nav-menu {
 position:absolute;
 margin:0;
 padding:0 5%;
 a {
   border-radius:3px 3px 0 0;
   display:inline-block;
   color:$grayC;
   padding:.6em 1.4em .7em;
   margin-left:-1em;
   font-weight:bold;
   text-decoration: none;
   &:hover {
     color:#fff; }
   &.open {
     text-decoration:none;
     background-color:#fff;
     color:$blue0; } } }

.click-off {
  width: 1px;
  height: 1px;
  position: absolute;
  top:-1px;
  left: -1px; }

}




// Media queries enabled

@mixin nav-1() {

}



// 300 px

@mixin nav-300() {

#primary-nav, #secondary-nav {
  background-color:#fff;
  width:100%;
  &.open {
    display:block;
    position:absolute;
    z-index:2000; } }
.highlight {
  display:none; }

#secondary-nav.open {
  top:3.5em; }

#content.menu-open {
  margin-top:52em; }

$s-height: 220px;
$s-padding: 10px;
#main-header { 
  z-index:1000;
  .flex-container {
    padding:0; } }

#secondary-nav {
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #fff;
  ul.slides {
    background-color: #fff;
    padding:0;
    > li {
      padding-top:.5em;
      padding-bottom:3em;
      > a {
        border-bottom:1px solid $blue7;
        border-top:1px solid $blue10;
        padding:.4em 0 .5em;
        background-color:$blue11;
        position:absolute;
        bottom:0;
        width:100%;
        color: $blue2;
        text-align: center;
        &:hover {
          text-decoration: none; } } } }
  .sub {
    padding-left:4%;
    li {
      background-color: #fff;
      width:24%;
      height:6.5em;
      float:left; }
    a {
      padding:2px;
      font-weight:bold;
      font-size:12px;
      padding-top:52px;
      width:auto;
      text-align:center;
      &:visited {
        color:$blue4; }
      &.next {
        width:30px; } } }
  li#mobile .sub li {
    width:32%;
    a {
      padding-top: 68px;
      &:before {
        width:75px;
        height:65px;
        margin-left:-38px; } } }
  .flex-direction-nav li {
    .prev{
      left:5%; }
    .next {
      right:5%; } } }

.sub a {
  position: relative;
  &:before	{
    content:" ";
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-25px;
    background:transparent url('../img/icons.png') 0px 0px no-repeat; } }  
  
#primary-nav{
  top:32em;
  overflow-y: visible;
  width:200%;
  border-bottom: 2px solid $blue5;
  ul {
    border-bottom: 1px solid #fff; }
  a {
    display: block;
    color: $blue2;
    padding:.75em 5%;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-bottom: 1px solid $blue7;
    background: $blue9 url("../img/slider-controls.png") 95% -88px no-repeat;
    &:hover {
      text-decoration: none;
      background: $blue9 url("../img/slider-controls.png") 95% -132px no-repeat; }
    &:active {
      color:$red0; } }
  li {
    width:50%;}
  .mega {
    position:absolute;
    top:0;
    left: 50%;
    width:50%;
    display: none;
    z-index:101;
    background-color: #fff;
    padding-bottom:1em;
    border-bottom:2px solid $blue0;
    .featured, hr {
      display: none; }
    ul {
      list-style: none; }
    li {
      width:100%; }
    h3 {
      padding-left:10%;
      font-family:'Open Sans', "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
      color: $blue0;
      font-weight: bold;
      font-size: 1em;  }
    .back {
      position: absolute;
      width:100%;
      height:2em;
      top:-1px;
      left:0;
      text-indent: -999em;
      background: transparent url("../img/slider-controls.png") 4% 0px no-repeat;
      border-bottom: 1px solid $blue9;
      &:hover {
        background-color: transparent;
        background-position: 4% -44px; } }
    a {
      font-weight: normal;
      width:94%;
      float:left;
      padding:.35em 1% .5em 5%;
      margin-right:1%;
      background-color: #fff;
      background-image: none;
      border-bottom: none;
      &:hover {
        color:$blue0;
        background-color: $yellow1; }
      &:active {
        color:$red0; } } }
  &.sub-open {
    left:-100%; }
  li.open {
    .mega {
      display: block;
      @include micro-clearfix(); } } }

}








// 450 px

@mixin nav-450() {

#primary-nav {
  top:24.55em;
  .double li.left {
    width:50%;
    float:left;
    a {
      padding-left:10%;
      width:89% } } }

#content {
  &.menu-open {
    margin-top:45em; } }

#secondary-nav {
  .sub {
    padding-left:1%; }
  .sub li {
    width:16.5%; }
  li#mobile .sub li {
    width:24.5%; } }

}







// 600 px

@mixin nav-600() {

.wf-active {
  #primary-nav, #secondary-nav {
    a {
      font-weight: 600; } } } 

#primary-nav-menu {
  position: absolute;
  right:1%;
  z-index: 103;
  a {
    color: $blue9;
    padding:.65em 1.5em .75em; } }

#content {
  &.menu-open {
    margin-top:0; } }

#primary-nav {
  top:99px;
  width:100%;
  overflow: hidden;
  z-index: 100;
  > ul {
    padding-bottom:6em;
    background-color: $blue10; }
  li {
    width: 30%; }
  .mega {
    width:70%;
    left:30%;
    padding-top:.75em;
    border-bottom: none;
    padding-bottom: 10em;
    .sublinks {
      border-bottom: none;
      padding-left:.75em;
      padding-bottom: .25em;
      float:none;
      a {
        color: $blue4;
        font-size:.9em; } }
    hr {
      display: block;
      width: 92%;
      margin-left: 4%;
      margin-top: 0;
      margin-bottom: 1em;
      position: relative;
      top: .5em; }
    .featured {
      display:block;
      a {
        font-weight: bold;
        padding:.2em 1% .25em 5%; } }
    a {
      padding:.1em 1% .15em 5%; }
    h3, a.back {
      display: none; } }
  a.primary {
    background-image: none;
    padding: .7em 5% .75em 10%; }
  li.open a.primary {
    background-color: #fff; } }

#main-header .flex-container {
  position: absolute;
  top:0;
  left:0;
  height: 1px; }
#secondary-nav {
  display: block !important;
  margin:0;
  padding:0;
  left:5%;
  font-size: 14px;
  overflow: visible !important;
  background-color: transparent;
  border-bottom: none;
  font-size: .9em;
  &, &.open {
    top:4.3em; }
  #mobile, .clone {
    display:none !important; }
  ul.slides {
    width:600px !important;
    background-color: transparent;
    -webkit-transform: none !important;
       -moz-transform: none !important;
         ms-transform: none !important;
          o-transform: none !important;
            transform: none !important;
    > li {
      padding:0;
      width:auto !important;
      > a {
        font-weight: normal;
        border:none;
        padding:.8em .6em .9em;
        background-color:transparent;
        position:relative;
        width:auto;
        color: $blue8;
        text-align:left;
        &:hover {
          color: #fff; } } } }
  .sub {
    display: none; }
  li#alumni {
    &.open .sub {
      left:auto;
      right:0; } }
  li.open {
    overflow: visible;
    .sub {
      display: block;
      position: absolute;
      top:2.9em;
      left:0;
      width:16em;
      padding:.75em 0;
      background-color:#fff;
      @include box-shadow(0px -2px 10px rgba(0,0,0,.5));
      border-bottom: 3px solid $blue4;
      li {
        float:none;
        height: auto;
        width: auto;
        padding-top: 0; }
      a {
        padding:.5em 1.25em .6em;
        font-size: 1em;
        text-align: left;
        &:hover {
          text-decoration: none;
          background-color: $blue4;
          color: #fff; } } } }
  ul.slides li.open > a {
    position: relative;
    z-index: 10;
    @include border-radius(3px 3px 0 0);
    background-color: #fff;
    color: $blue0; }
  .flex-direction-nav { 
    display: none !important; } }

.sub a:before	{
    background:none; }
    
.click-off {
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  z-index: 99;
  background-color: #000;
  opacity:0; }

}










// 700 px

@mixin nav-700() {

}











// 800 px

@mixin nav-800() {

header .flex-container {
  width:100%; }
 
#secondary-nav {
  left:auto;
  top:3.5em;
  position: absolute;
  right:5%;
  width:455px;
  .sub {
    width: 17.5em;
    padding-bottom: 1em;
    padding-top: .5em;
    a {
      color: $blue2;
      padding: .5em 1.75em .6em;
      &:hover {
        background-color: $blue0; } } }
  li#parents, li#staff, li#alumni {
    position: static;
    .sub {
      left:auto;
      right:0; } }
  ul.slides > li.top > a {
    padding:.8em .55em .9em; }
  > ul {
    display: inline; } }


  
#primary-nav-menu {
  display: none; }

#primary-nav {
  display: block;
  position: relative;
  left:1%;  
  top:0;
  background-color: transparent;
  border: none;
  overflow: visible;
  a.primary {
    font-size: .9em;
    font-weight: normal;
    background-color: transparent;
    display: block;
    padding: .85em .75em .85em;
    border: none;
    color: $blue10;
    position: relative;
    z-index:102;
    @include border-radius(3px 3px 0 0);
    .wf-active & {
      font-weight: 600; }
    &:hover {
      color: #fff;
      background-color: darken($blue0, 4%); } }
  li.open a.primary {
    color: $blue0; }
  > ul {
    float: left;
    background-color: transparent;
    border: none;
    padding:0;
    margin: 0;
    > li {
      width: auto;
      float: left; } }
  .mega {
    width: 100%;
    margin-left:-1%;
    left:0;
    top:2.7em;
    border-bottom: 2px solid $blue3;
    padding:1.5em 3% 2em;
    @include box-shadow(0 2px 12px rgba(0,0,0,.5));
    hr {
      margin-left:0;
      margin-right:0; }
    a, .featured a {
      padding:.15em .7em .25em;
      margin:0 0 0 -.7em;
      @include border-radius(2px); } }
  .links {
    width:40%;
    float:left; }
  .double {
    width:50%;
    li.left a {
      padding-left: .7em; } }
  .links a:hover, .featured a:hover {
    background-color: $blue2;
    color: #fff; }
  .highlight {
    float:left;
    display: block;
    width:25%;
    a:hover {
      background-color: transparent; } } }

}





// 900 px

@mixin nav-900() {

#secondary-nav {
  ul.slides > li.top > a {
    padding:.8em .65em .9em; } }

#primary-nav a.primary {
  padding: .85em 1.25em .85em; }


}




// 940 px

@mixin nav-940() {

#primary-nav {
  width:940px;
  margin:0 auto;
  left:0;
  .mega {
    margin-left:0;
    width: 884px; } }
}





// 1000 px

@mixin nav-1000() {

#secondary-nav {
  right:50%;
  margin-right:-460px; }

#primary-nav {
  a.primary {
    font-size: 1em;
    padding: .7em 1em .75em;
    .wf-active & {
      padding: .7em 1.3em .75em;
      font-weight: normal; } } }

}




// 1040 px

@mixin nav-1040() {

}




// 1300 px

@mixin nav-1300() {

#primary-nav {
  width: 1120px;
  a.primary {
    padding: .7em 1.4em .75em; }
  .double li.left {
    width:45%; } }

header .flex-container {
  margin-left:0; }

#secondary-nav {
  margin-right:-540px;
  width:485px;
  ul.slides > li.top > a {
    padding:.8em .75em .9em; } }

  
}



// 1560 px

@mixin nav-1560() {
  
}
