/*** Type ***/



// Mobile

@mixin type-mobile() {

$baseSize:16; // 16px
$fontSize:15; // 14px
$lineHeight:20; // 18px

body, button, input, select, textarea {
  color: #444;
  font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  font-size:($fontSize/$baseSize) + em;
  line-height:$lineHeight/$fontSize;
  -webkit-text-size-adjust:100%; }

body {
  width:100%; }

/* Type */
h2 { font-size:1.5em; line-height:$lineHeight*1.5+px; margin:15px 0 9px; color:#036; }
h3 { font-size:1.0714em; }
h4 { font-weight:bold; font-size:1em; }
h5 { font:1em "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h6 { font:italic 1em "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h2, h3, h4, h5, h6 { color: #444; }
h3, h4, h5, h6 { margin: $lineHeight/2+px 0; line-height:$lineHeight+px; }
h1+h2, h3+h4, h4+h5, h5+h6 { margin-top: -1*$lineHeight/2+px }

p { margin:($lineHeight/2)+px 0; }

.wf-active {
  strong {
    font-weight: 600; } }

}



// Media queries enabled

@mixin type-1() {

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

}


// 300 px

@mixin type-300() {

$baseSize:16; // 16px
$fontSize:15; // 14px
$lineHeight:20; // 18px

body {
  overflow-x: hidden; }
.wf-active {
  body, button, input, select, textarea {
    font-family:'Open Sans', "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    font-weight:normal; } }

.wf-active {
  h1,h2 {
    font-family:'Crete Round', sans-serif;
    font-weight:normal; }
  h3, h4, .day span, a.baseline, #calendar > strong, a.more, .mybyu {
    font-family:'Open Sans', sans-serif;
    font-weight: 600; }
  h2 {
    font-size:1.65em; }
  footer h2 {
    font-size: 1.25em; } }

#primary-nav-menu a {
   font-size:($baseSize/$fontSize)+em; }

}








// 450 px

@mixin type-450() {

}








// 600 px

@mixin type-600() {

}





// 700 px

@mixin type-700() {

}







// 800 px

@mixin type-800() {

$baseSize:16; // 16px
$fontSize:14; // 14px
$lineHeight:18; // 18px

body {
  //font-size:($fontSize/$baseSize) + em;
  line-height:$lineHeight/$fontSize; }

}





// 1000 px

@mixin type-1000() {

}


// 1040 px

@mixin type-1040() {

}


// 1300 px

@mixin type-1300() {

}


// 1560 px

@mixin type-1560() {
  
}
