/* Style.css
 * Responsive styles built by the BYU web community
 * Updated 20 Mar 2012
 */


 
@import "colors";
@import "mixins";

// Page parts

@import "type";
@import "header";
@import "nav";
@import "slider";
@import "content";
@import "footer";
@import "feedback";



  @include    type-1();
  @include  header-1();
  @include     nav-1();
  @import "flexslider";
  @include  slider-1();
  @include content-1();
  @include  footer-1();
  @include  feedback-1();


@media all and (min-width:300px) {

  @include    type-300();
  @include  header-300();
  @include     nav-300();
  @import "icons";
  @include  slider-300();
  @include content-300();
  @include  footer-300();
  @include feedback-300();
}



@media all and (min-width:450px) {

  @include    type-450();
  @include  header-450();
  @include     nav-450();
  @include  slider-450();
  @include content-450();
  @include  footer-450();
  @include feedback-450();
    
}




$image-width:74.361702%;

@media all and (min-width:600px) {

  @include    type-600();
  @include  header-600();
  @include     nav-600();
  @include  slider-600();
  @include content-600();
  @include  footer-600();
  @include feedback-600();

}







@media all and (max-width:699px) {

// Reset description stuff to white if the screen gets smaller again

.feature-description {
  background-color:transparent !important;
  background-image:none !important;
  border-left:none !important;
  box-shadow: none !important; }
}


@media all and (min-width:700px) {

  @include    type-700();
  @include  header-700();
  @include     nav-700();
  @include  slider-700();
  @include content-700();
  @include  footer-700();


}








@media all and (min-width:820px) {

  @include    type-800();
  @include  header-800();
  @include     nav-800();
  @include  slider-800();
  @include content-800();
  @include  footer-800();

}









@media all and (min-width:900px) {

  @include  nav-900();
  @include  slider-900();

}

@media all and (min-width:940px) {

  @include  header-940();
  @include  nav-940();
  @include  slider-940();

}








@media all and (min-width:1000px) {

  @include    type-1000();
  @include  header-1000();
  @include     nav-1000();
  @include  slider-1000();
  @include content-1000();
  @include  footer-1000();

}



$content:1078px;
$margin:69px;

@media all and (min-width:1078px) {

  @include    type-1040();
  @include  header-1040();
  @include     nav-1040();
  @include  slider-1040();
  @include content-1040();
  @include  footer-1040();

#footer-links {
  width:100%;
  padding:0 0 2em;
  margin: 0; }
#footer-links .wrapper {
  width:$content - ($margin * 2);
  padding:0 $margin;
  margin:0 auto; }

}





$content:1247px;
$margin:69px;

@media all and (min-width:1260px) {

  @include  slider-1300();
  @include     nav-1300();
  @include  footer-1300();

#logo h1, #primary-nav {
  width: $content - ($margin * 2);}

#secondary-nav {
  margin-right: ($content / -2) + ($margin /2); } 

#search-container {
  margin-right: ($content / -2) + ($margin) + 10px; }

a.mybyu {
  margin-right: ($content / -2) + ($margin) + 250px; }

#calendar, #news {
  width:520px;
  left:0px;
  margin-left:$margin; }

#content {
  width:$content; }
#calendar {
  @include micro-clearfix(); }
.day {
  width:48%;
  float:left;
  clear: none;
  a {
    width:72%; }
  .time {
    width:25%; }
  &:last-child {
    float:right; } }

#footer-links .wrapper {
  width:$content - ($margin * 2);
  padding:0 $margin; }

}






/*
$content:1415px;
$margin:69px;
$news:597px;

@media all and (min-width:1440px) {

#logo h1, #primary-nav {
  width: $content - ($margin * 2);}

#secondary-nav {
  margin-right: ($content / -2) + ($margin /2); } 

#search-container {
  margin-right: ($content / -2) + ($margin) + 10px; }

a.mybyu {
  margin-right: ($content / -2) + ($margin) + 250px; }

#content {
  width: $content; }
#calendar {
  width: $content - $news - ($margin * 3); }
#news {
  width:$news; }

.day {
  width:48.5%;
  a {
    width:76%; }
  .time {
    width:21%; } }

#footer-links .wrapper {
  width:$content - ($margin * 2);
  padding:0 $margin; }

}
*/
