
/* BYU Blue */
$blue0: #001948;
$blue1: #025;
$blue2: #036;
$blue3: #147;
$blue4: #369;
$blue5: #47A;
$blue6: #628cb6;
$blue7: #91b2d2;
$blue8: #abc8e4;
$blue9: #d1e4f6;
$blue10: #e0edf9;
$blue11: #eff6fc;
$blue12: #f9fcfe;


/* Highlight Yellow */
$yellow0: #ffc;
$yellow1: #ffd;
$yellow2: #ffe;


/* Res */
$red0: #901;
$red1: #b01;


/* Green (not used much) */
$green0: #004818;
$green1: #005518;
$green2: #006614;
$green3: #117725;
$green4: #339947;
$green5: #62b672;
$green6: #91d29d;
$green7: #abe4b6;
$green8: #d1f6d8;
$green9: #e0f9e4;
$green10: #effcf1;
$green11: #f9fefa;


/* Gray */
$gray0: #000;
$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray4: #444;
$gray5: #555;
$gray6: #666;
$gray7: #777;
$gray8: #888;
$gray9: #999;
$grayA: #aaa;
$grayB: #bbb;
$grayC: #ccc;
$grayD: #ddd;
$grayE: #eee;
$grayF: #fff;