@import "compass";




nav ul {
	list-style: none;
}
nav > ul > li {
	float: left
}
nav li .sub {
	@include box-shadow(0 1px 8px rgba(#000 ,0.7));
	border: 1px solid $blue4;
	border-top: 0;
	margin-top: 0;
}
.boxshadow nav li .sub {
	border: 0;
}

/*
#primary-nav .links {
	width: 93%;
}

.wrapper,#primary-nav ul {
	margin: 0 auto;
	padding: 0 32px;
}
#primary-nav ul ul {
	width: auto;
	margin: 0;
	padding: 0;
}

#secondary-nav {
	position: absolute;
	bottom: 6px;
	right: 0;
}
#secondary-nav li a {
	color: #a8c7e3;
	display: block;
	padding: 6px 8px;
	position: relative;
	z-index: 100;
	text-decoration: none;
}
.no-js #secondary-nav li:hover a,.no-js #secondary-nav li a:hover,#secondary-nav li.hover a {
	text-decoration: none;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	color: $blue1;
}
#secondary-nav li .sub a {
	border-radius: 0;
	padding: 3px 12px;
}
#secondary-nav li .sub a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#secondary-nav .sub,#primary-nav .sub {
	background-color: #fff;
	display: none;
	width: 208px;
	padding: 9px 0 18px;
	border-bottom: 3px solid $blue4;
	position: absolute;
}
.no-js #secondary-nav li:hover .sub,#secondary-nav li.hover .sub,.no-js #primary-nav li:hover .sub,#primary-nav li.hover .sub {
	display: block
}
#primary-nav {
	background-color: #011948;
	border-top: solid 1px $blue4;
	border-bottom: solid 1px $blue4;
	@include box-shadow(0 1px 5px rgba(#000 ,0.5));
	position: relative;
	z-index: 10;
}
#primary-nav ul {
	position: relative;
}
#primary-nav .sub {
	padding: 10px;
	width: 222px;
}
#primary-nav li a {
	padding: 10px 20px;
	font-size: 14px;
	display: block;
	color: #eee;
	position: relative;
	z-index: 500;
	text-decoration: none;
}
.no-js #primary-nav li:hover a,.no-js #primary-nav li a:hover,#primary-nav li.hover a {
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	color: #011949;
	text-decoration: none;
}
.no-js #secondary-nav li:hover a.single,
.no-js #secondary-nav li a.single:hover,
#secondary-nav li.hover a.single,
.no-js #primary-nav li:hover a.single,
.no-js #primary-nav li a.single:hover,
#primary-nav li.hover a.single {
	border-radius: 4px;
}
#primary-nav .mega {
	display: none;
	position: absolute;
	background-color: #fff;
	font-size: 13px;
	padding: 10px;
	width: 920px;
	height: 371px;
	left: 32px;
	@include box-shadow(0 1px 8px rgba(#000 ,0.7));
	border: 1px solid $blue4;
	border-top: 0;
	border-bottom: 3px solid $blue4;
}
.boxshadow #primary-nav .mega {
	border: 0;
	border-bottom: 3px solid $blue4;
}
#primary-nav .mega p {
	margin: 9px 0
}
#primary-nav .left {
	float: left;
	width: 200px;
}
#primary-nav .mega .links.double {
	width: 400px
}
#primary-nav li .mega a,#primary-nav li .sub a,.no-js #primary-nav li .mega a,.no-js #primary-nav li .sub a {
	color: $blue3;
	background-color: transparent;
	border-radius: 0;
	font-size: 13px;
}
#primary-nav .mega a:hover,#primary-nav .sub a:hover {
	color: $blue1
}
#primary-nav hr {
	border: none;
	background: #ddd;
	height: 1px;
}
#primary-nav .links .featured a {
	font-size: 14px;
	font-weight: bold;
}
#primary-nav .mega .links {
	background: url(/home/sites/all/themes/homepage/img/margin.png) no-repeat right 22px;
	width: 220px;
	float: left;
	padding: 10px 30px 0 0;
}
#primary-nav .links a {
	padding: 3px 12px;
	line-height: 1.35;
}
#primary-nav .links a:hover,.no-js #primary-nav .links a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav .sublinks {
	margin: -2px 0 2px
}
#primary-nav .sublinks li {
	list-style-type: none;
}
#primary-nav .sublinks li a {
	padding: 1px 12px 1px 24px;
}
#primary-nav .sublinks li a:before {
	content: '\25B8';
	position: absolute;
	left: 12px;
	top: 2px;
	font-size: 10px;
	list-style-type: none;
}
#primary-nav .highlight {
	float: left;
	width: 208px;
	margin-left: 24px;
}
#primary-nav .highlight a {
	padding: 0
}
#primary-nav .highlight a:hover {
	text-decoration: underline
}
.no-js #primary-nav li:hover .mega,#primary-nav li.hover .mega {
	display: block
}
#primary-nav li .mega p a {
	margin-top: 5px
}
#primary-nav .mega img {
	padding: 3px;
	border: solid 1px #dad9d7;
}


.no-js #primary-nav ul li:hover.nochild a,#primary-nav ul li.hover.nochild a {
	border-radius: 4px;
}
#primary-nav ul li .sub .sub {
	float: none;
	position: static;
	padding: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
#primary-nav ul li ul .featured a {
	font-size: 14px;
	font-weight: bold;
}
#primary-nav ul li ul {
	width: 220px;
	float: left;
	padding: 10px 0;
}
#primary-nav ul li ul a {
	padding: 3px 12px;
	line-height: 1.35;
}
#primary-nav ul li .sub ul a:hover,.no-js #primary-nav ul li .sub ul a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav ul li ul li ul {
	margin: -2px 0 2px;
	border: 0;
	padding: 0;
	float: none;
}
#primary-nav ul li ul li ul li {
	list-style-type: none;
}
#primary-nav ul li ul li ul li a {
	padding: 1px 12px 1px 24px;
}
#primary-nav ul li ul li ul li a:before {
	content: '\25B8';
	position: absolute;
	left: 12px;
	top: 2px;
	font-size: 10px;
	list-style-type: none;
}


#primary-nav .mega .links {
	padding-top: 5px;
}
#primary-nav .mega {
	height: 381px;
}
#primary-nav .highlight {
	padding-top: 5px;
}
html.ie7 #primary-nav .links .featured a {
	font-size: 13px;
}
html.ie7 #primary-nav .mega .links {
	padding-top: 3px;
}
html.ie7 #primary-nav .mega {
	height: 385px;
}
html.ie7 #primary-nav .highlight {
	padding-top: 3px;
}
html.ie7 #primary-nav>ul>li>a {
	min-height: 37px;
}
html.ie8 #primary-nav .links .featured a {
	font-size: 13px;
}

#primary-nav ul li ul li ul li a:before {
	list-style: none;
	content: none;
}
#primary-nav ul.double li ul {
	width: 200px;
}

*/





/* Side slide nav */

html {
  background: $blue2;
}

body {
  @include transition(left 0.2s ease);
  position: relative;
  left:0;
}

body.sideNav {
  left: 75%;
  #main-header, #content, footer {
    @include box-shadow( -5px 0px 5px $blue0);
  }
}





/* Menu button */

.box-shadow-menu {
  position: absolute;
  width: 1.75em;
  height: 1.5em;
  padding: .5em;
  bottom:.35em;
  left:1em;
  @include border-radius(3px);
  border:1px solid $blue2;
  text-indent: -999em;
  overflow: hidden;
  display: none;
  &:hover {
    background-color: $blue2;
    border-color: $blue3;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: .6em;
    width: 1.5em;
    margin-left:-.75em;
    height: 0.2em;
    background: #fff;
    @include border-radius(1px);
    @include box-shadow(0 0.6em 0 0 #fff, 0 1.1em 0 0 #fff);
  }
  
}


/* Primary nav */
#primary-nav {
  width: 75%;
  position: absolute;
  top:0;
  right: 100%;
  font-size: 1.2em;
  a {
    color: #fff;
    padding: .65em 1em;
    display: block;
    &:hover {
      text-decoration: none;
      background-color: $blue0;
    }
  }
  > ul {
    padding: 1em 0 0;
    background: $blue2;
    border-right: 1px solid $blue3;
    body.sideNav & {
      @include box-shadow(inset -5px 3px 10px $blue0);      
    }
  }

  li {
    display: block;
    float:none;
    padding:0;
    border-bottom: 1px solid $blue1;
    border-top: 1px solid $blue3;
    overflow: hidden;
    &.left, &.right {
      padding: 0;
    }
    &.hover {
      background-color: $blue0;
      .mega {
        max-height: 1500px;
      }
    }
  }

  .highlight, .featured, hr {
    display: none;
  }

  .mega {
    max-height:0px;
    @include transition(max-height 0.2s ease);
    background-color:$blue1;
    margin: 0;
    position: relative;
    a {
      color: #eee;
      padding-left:1.75em;
      border-top: 1px solid $blue2;
      border-bottom: 1px solid $blue0;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      border: none;
    }
  }
}




#secondary-nav {
  display: none;
  ul {
    padding: 0;
  }
}


@media all and (min-width:275px) {
  .box-shadow-menu {
    display: block;
  }

}


@media all and (min-width:750px) {
  .box-shadow-menu {
    display: none;
  }
  #secondary-nav {
    display: block;
  }
  body.sideNav {
    left: 0;
  }
}





